.category-bar {
    display: flex;
    gap: 3.2rem;

    background-color: #041834;
    margin-top: 2rem;
    padding: 0rem 3rem;
    font-size: 1.4rem;
    list-style: none;
}

.category-bar__item {
    cursor: pointer;
    flex-shrink: 0;
    padding: 1.6rem .4rem;
}

.is-item-selected {
    border-bottom: 3px solid #FFF;
}