.menu {
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem var(--layout-padding);
    backdrop-filter: blur(14px);
    background-color: var(--menu-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.50);

    width: 100%;
    height: 6.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


.menu__content-2 {
    background-color: #151A22;
    padding: 1.8rem 3.3rem;
    width: 100%;
    margin-left: -100%;
    
    position: absolute;
    top: 6.2rem;
    left: 0rem;

    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-areas: 
    "profile list"
    "input input";
    align-items: center;
    gap: 1.6rem 2.4rem;

    transition: margin-left .6s ease-in-out;
}

.menu__content-2:before {
    background-color: rgba(17, 17, 17, 0.398);
    backdrop-filter: blur(5px);
    content: "";


    width: 100%;
    height: 100vh;
    position: absolute;
    top: 13rem;
}

.is-open {
    margin-left: 0rem;
}

.menu__list {
    grid-area: list;
}

.menu__form {
    grid-area: input;
}

.menu__input {
    background-color: var(--menu-input-background-color);
    backdrop-filter: blur(14px);
    border: none;
    border-radius: .8rem;

    width: 100%;
    height: 3.5rem;
    padding: 0rem 2.2rem;
}

.menu__input::placeholder,
.menu__input {
    color: #AAAAAA;
}

.menu__avatar {
    border-radius: var(--circle-border-radius);
    border: 1px solid #00111A;
    background-color: #00111A;
    cursor: pointer;

    display: flex;
    grid: profile;

    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
}

.menu__image {
    width: 100%;
}

.menu__btn {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .menu {
        padding: 1rem 6rem;
        gap: 9rem;
    }

    .menu__content-2 {
        background-color: initial;
        display: flex;
        justify-content: flex-end;
        gap: 5rem;

        margin-left: 0rem;
        padding: initial;
        position: static;
    }

    .menu__content-2:before {
        display: none;
    }

    .menu__form {
        flex: 1;
    }

    .menu__btn {
        display: none;
    }
}