.navigate {
    position: absolute;
    left: 3.5rem;
    bottom: 10rem;
    z-index: 3;

    width: calc(100% - 6rem);
}

.navigate__before,
.navigate__next {
    border: none;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    cursor: pointer;

    display: flex;
    position: absolute;
}

.navigate__before:hover,
.navigate__next:hover {
    background-color: rgba(15, 17, 20, 1);
}

.navigate__before {
    left: 0rem;
}

.navigate__next {
    right: 0rem;
}

.navigate__icon {
    color: #FFF;
}